@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, textarea, p, blockquote, th, td{
	margin: 0;
	padding: 0;
	color: #333;
}
html{
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}
ol, ul{
    list-style:none;
}
fieldset, img{
     border:0;
}
img {
	max-width:100%;
	height:auto;
}
table{
    border-collapse: collapse;
    border-spacing:0;
}
caption, th{
    text-align: left;
}
address, caption, cite, code, dfn, em, strong, th, var{
    font-style: normal;
    font-weight: normal;
}

strong {
	color: #F60;
	font-weight: normal;
}
b {
	color: #F60;
	font-weight: normal;
}
a:focus{
    outline:none;
}

#head {
	width: 960px;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: auto;
	padding-top: 15px;
}
#topimg {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
#main {
	width: 960px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
#foot {
	background-color: #069;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
#foot p{
	color: #ffffff;
}

#head_top {
	background-color: #069;
}
body,td,th {
	font-family: メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-size: 13px;
	color: #333;
}
#head_top_in {
	color: #FFF;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
#head_left {
	float: left;
	width: 310px;
}
#head_right {
	float: left;
	width: 350px;
	font-size: 12px;
	padding-top: 3px;
}
.katudo {
	color: #F36;
}
.both {
	clear: both;
}
#left {
	float: left;
	width: 200px;
	margin-right: 30px;
}
#center {
	float: left;
	width: 500px;
	margin-right: 30px;
}
#right {
}
#right {
	float: left;
	width: 200px;
}
#left ul li {
	background-image: url(img/menu_li.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
#left ul li a:hover {
	background-image: url(img/menu_li_a.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
#left ul li .input {
	padding-left: 45px;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 16px;
}
a:link {
	color: #069;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #069;
}
a:hover {
	text-decoration: none;
	color: #0CF;
}
a:active {
	text-decoration: none;
	color: #900;
}
.con1 {
	margin-bottom: 20px;
}
h2 {
	font-size: 15px;
	color: #FFF;
	background-color: #336699;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.border {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.con_in {
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding-top: 15px;
}
h3 {
	font-size: 14px;
	color: #F60;
}
.info_p {
	margin-bottom: 10px;
	display: block;
	padding-top: 10px;
}
#right h2 {
	font-size: 14px;
	background-color: #FFF;
	background-image: url(img/h2_r.png);
	background-repeat: no-repeat;
	background-position: left;
	color: #333;
	margin-top: 15px;
	padding-left: 10px;
}
#right .con1 {
	margin-bottom: 15px;
	-webkit-box-shadow: 0 10px 8px -6px #8d8c8c;

    -moz-box-shadow: 0 10px 8px -6px #8d8c8c;

     box-shadow: 0 10px 8px -6px #8d8c8c;
}
#right .con1 .border {
	border: 1px solid #999;
}
#right .con1 .border .con_in {
	margin: 10px;
	padding-top: 0px;
}
.bg1 {
	background-image: url(img/bg1.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#left p {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.head_center {
	float: left;
	margin-left: 120px;
	width: 180px;
	font-size: 12px;
	padding-top: 3px;
}
.pic_center {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
.con2 {
	float: left;
	width: 225px;
	margin-right: 10px;
	margin-bottom: 15px;

}
.con2_l {
	float: left;
	width: 225px;
	margin-bottom: 15px;
}
h1 {
	color: #FFF;
	font-size:11px;
}
.menu_category{
	margin-bottom:5px;
}
.scroll {
    overflow-y: scroll;
	height:900px;
}
.tre {
	color: #096;
}
